<br>
<section>
<div class="panel panel-primary">
 <div class="panel-heading">
   Messages
 </div>
 
 <div class="panel-body">
  <% @messages.each do |message| %>
   <span class="label label-info"><%= message.name %></span>
   <%= message.body %>
    <br>
   <% end %>
   </div>
 </div> 
 

<div class="panel panel-primary",>
 <div style="padding:20px; margin-left:30px">
<%= form_for(Message.new) do |f| %>
 name:<br>
 <%= f.text_field :name %>
 <br>
 <br>
 message:<br>
 <%= f.text_area :body, :size=>"35x4"%><br><br>
 <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %> 
</div>
</div>
</section>