<br>
<div class="panel panel-primary">
 <div class="panel-heading">
   Messages
 </div>
 
 <div class="panel-body">
  <% @messages.each do |message| %>
   <span class="label label-info"><%= message.name %> / age:<%= message.age %></span>
   <%= message.body %>
   (<%= link_to "edit" , edit_message_path(message) %>
   <%= link_to "destroy" , message, method: :delete, data: {confirm: "Are you sure you want to delete ?"} %>)
    <br>
   <% end %>
   </div>
 </div> 
 
 <% #部分テンプレートを読み込んでいる %>
 <%= render 'form' %>
